config ZMK_INPUT_PROCESSOR_XY_MATRIX
    bool "2x2 matrix input processor for REL_X / REL_Y"
    default y
    depends on DT_HAS_ZMK_INPUT_PROCESSOR_XY_MATRIX_ENABLED

config ZMK_USB_BOOTMAGIC
    bool "Reboot into the bootloader when USB is connected while a key is held"
    default y
    depends on DT_HAS_ZMK_USB_BOOTMAGIC_ENABLED && USB_DEVICE_STACK
